@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lobster&display=swap');

h1 {
    text-align: center;
    color: #fb6009;
    font-family: Alfa Slab One;
    font-weight: lighter;
    font-size: 32px;
}