@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Candal&family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap');


body {
margin: 0;
font-family: 'IBM Plex Sans Thai', sans-serif !important;
background-color: #fafafa;
display: flex;

flex-direction: column;
align-items: center;

}

header.navbar {
    padding: 20px 20px;
}

.navbar {
    display: flex;
    justify-content: space-between !important; 
    align-items: center; 
    padding: 20px 50px;
    position: relative!important;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    z-index: 10;

}

.logo {
    font-size: 36px;
    font-weight: bold;
    color: #1134e6;
}

.logo a {
    background: none !important;
    border: none !important;
    color: #1134e6 !important;
    text-decoration: none !important;
    font-weight: bold;
    font-size: 36px;
    padding: 0 !important;
    border-radius: 0 !important;
}

.nav-desktop {
    display: flex;
    gap: 40px;
    margin-left: auto;
    margin-right: 40px;
    text-align: right;
}

.nav-desktop a {
    color: #1134e6;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    transition: color 0.3s ease;
    background: none !important;
    box-shadow: none !important;
}

.nav-desktop a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: #fb6009;
    transition: width 0.3s ease;
}

.nav-desktop a:hover {
    color: #fb6009;
}

.nav-desktop a:hover::after {
    width: 100%;
}

/*  DESKTOP DROPDOWN */
.desktop-menu-icon {
    font-size: 28px;
    color: #1134e6;
    cursor: pointer;
    display: block;
    position: relative;

}

.desktop-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 20px 0;
    z-index: 10;
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.desktop-dropdown.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.desktop-dropdown a {
    position: relative;
    color: #1134e6;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
    transition: color 0.3s ease;
    background: none !important;
    box-shadow: none !important;
}

.desktop-dropdown a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: #fb6009;
    transition: width 0.3s ease;
}

.desktop-dropdown a:hover {
    color: #fb6009;
}

.desktop-dropdown a:hover::after {
    width: 100%;
}

/*  MOBILE NAV  */
.menu-icon {
    display: none;
    font-size: 30px;
    color: #1134e6;
    cursor: pointer;
}

.nav-mobile {
    display: none;
    flex-direction: column;
    align-items: center;
    background: white;
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid #ddd;
    z-index: 100;
}

.nav-mobile.active {
    display: flex;
}

.nav-mobile a {
    text-decoration: none;
    color: #1134e6;
    font-weight: bold;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    background: none !important;
}




/* MAIN CONTENT  */
main {
display: flex;
flex-direction: column;
align-items: center;
padding-top: 20px;
}

h1 {
text-align: center;
color: #fb6009 !important;
font-family: 'Candal', sans-serif;
font-weight: lighter;
font-size: 36px;
margin: 40px 0 20px;
}



/* FRAME / CARD */
.gallery {
display: flex;
justify-content: center;
align-items: stretch;
flex-wrap: wrap;
gap: 50px;
margin: 30px;
}

.frame {
width: 650px;
height: 420px;
border-radius: 25px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
padding: 30px;
transition: transform 0.3s ease, box-shadow 0.3s ease;
overflow: hidden;
background-color: #fff;
text-align: center;
}

.frame.yellow {
border: 3px solid #ffb901;
}

.frame.red {
border: 3px solid #db1a1a;
}

.frame:hover {
box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
transform: scale(1.03);
}

/* CAROUSEL  */
.carousel {
width: 90%;
height: 250px;
border-radius: 20px;
overflow: hidden;
border: 3px solid #000;
margin-bottom: 20px;
}

.carousel-inner,
.carousel-item,
.carousel-item img {
height: 100%;
width: 100%;
object-fit: contain;
}

/*  TEXT & BUTTON */
p {
text-align: center;
font-family: 'IBM Plex Sans Thai', sans-serif;
font-weight: bold;
font-size: 18px;
margin-top: 10px;
}

a {
background-color: #ffb901;
padding: 6px 20px;
border-radius: 50px;
text-decoration: none !important;
transition: transform 0.3s ease, box-shadow 0.3s ease;
margin-top: 15px;
}

a p {
color: #f4f4f4;
margin: 0;
}

a:hover {
transform: translateY(-3px);
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
cursor: pointer;
}





@media (max-width: 1024px) {
.nav-desktop,
    .desktop-menu-icon {
        display: none;
    }
    .menu-icon {
        display: block;
    }

.frame {
width: 80%;
height: auto;
}
}

@media (max-width: 768px) {
h1 {
        font-size: 28px;
    }
    .hero {
        height: 80vh
    }

.frame {
width: 90%;
height: auto;
padding: 20px;
}

.gallery { gap: 30px; }
}

@media (max-width: 480px) {
 .logo {
        font-size: 26px;
    }
    h1 {
        font-size: 24px;
    }
    .navbar {
        padding: 15px 20px;
    }
    .hero {
        height: 75vh
    }
    .hero-content h1 {
        font-size: 55px;
    }
    .hero-content p {
        font-size: 20px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .hero-content button {
        font-size: 15px;
    }

.frame {
width: 95%;
padding: 15px;
}
}