@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap');


body {
  background-color: #e6e6e6;
  font-family: 'IBM Plex Sans Thai', sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  min-height: 100vh; 
  padding-top: 40px; 
  padding-bottom: 40px; 
}

.register-container {
  background: white;
  padding: 40px 60px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
  width: 90%;
  max-width: 700px;
  text-align: center;
}

h2 {
  font-weight: 700;
  margin-bottom: 30px;
}

label {
  font-weight: 500;
  text-align: left;
  display: block;
}

label-center {
  font-weight: 500;
  text-align: center;
  display: block;

}

.form-control {
  border-radius: 25px;
  border: 1.5px solid #cfcfcf;
  padding: 8px 15px;
}

.btn {
  border-radius: 25px;
  font-weight: 600;
  background-color: #ffa500;
  border: none;
}

.btn:hover {
  background-color: #ff9800;
}

.form-check-label {
  font-size: 0.95rem;
}

#eerrorMessage {
  color: #d9534f;
  font-weight: 500;
  margin-top: 15px;
}

@media (min-width: 992px) {
  body {
    align-items: center; 
    padding-top: 0;
    padding-bottom: 0;
  }

   .register-container {
    width: 60%;
    padding: 40px 60px;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  body {
    align-items: center; 
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .register-container {
    width: 80%;
    padding: 35px 40px;
  }
}

@media (max-width: 768px) {
  .register-container {
    padding: 25px 20px;
    width: 90%;
  }

   body {
    padding-top: 20px; 
    padding-bottom: 60px;
    
  }
}